* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
        /*means that padding and boarders are included in height and width values */
}


.gfs-neohellenic-regular {
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.gfs-neohellenic-bold {
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



body {
 font-family: "libre baskerville", serif;

    /*background-repeat: repeat;*/
}

#intro {

    background-image: url(images/jalabert-plague-thebes-oedipus-emile-sphinx-painting.background.webp);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;

}


/* THIS IS FOR THE OPENING PAGE */

#title {

        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
            /*bdisplay text will position the text in the center of the, parent and children;*/
}

h1 {

    font-size: 80px;
    font-style: italic;
    font-weight: 400;
}

h2 {

    font-family: "robato flex", sans-serif;
    font-size: 20px;
    width: 52%;
}

.btn {
    display:block; 
    background-color: rgb(175, 0, 0);
    border-radius: 20px;
    color:white;
    font-family: "robato flex", sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 50px; 
    text-transform: uppercase;
    transition: all 2s;
}

.btn:hover {
        background-color: black;
        cursor: pointer;
        transform: rotate(360deg);
}

    /*page 1 to decide*/

#page1  .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        width: 100%;
        background-image: url(images/temple.png);
        margin-top: 20px;
        filter: brightness(70%);
        background-position: center;
        background-size: cover;
        text-align: center;
        }


#page1  i,
#raise2 i{
            color: rgb(255, 225, 0);
            font-size: 70px;
            font-family: "GFS Neohellenic", sans-serif;
            font-weight: 700;
            font-style: bold;
            text-align: center;
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        }
        
#page1 .div1, 
#raise2 .div1
            { grid-area: 1 / 1 / 2 / 3;
            padding: 5%;
        }

#page1 .div2, 
#raise2 .div2
            { grid-area: 2 / 1 / 3 / 2;
            background-image: url(images/abandon.the.baby.jpeg);
            background-size:auto;
            background-position: center;
            margin: 10%;
        }

#page1 .div3,
#raise2 .div3
            { grid-area: 2 / 2 / 3 / 3; 
            background-image: url(images/raise.the.baby.png);
            background-size:cover;
            background-position: top;
            margin: 10%;
        }

p{
            color: rgba(255, 255, 255, 0.959);
            font-family:  "GFS Neohellenic", sans-serif;
            text-shadow: 3px 3px 6px rgb(0, 0, 0);
            font-size: 30px;
            line-height: .75;
            width: 70%;
            text-align: left;
            margin-right: 30%;
            margin-top: -16%;
            z-index: 901;
        }

#page2-him p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 35px;
    line-height: 1;
    width: 50%;
    margin-right: 30%;
    margin-top: -0%;
    z-index: 901;
}

#page3-him p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 40px;
    line-height: .90;
    width: 50%;
    margin-right: 0%;
    margin-top: -10%;
    z-index: 901;
}


#page4-him p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 40px;
    line-height: 1.0;
    width: 90%;
    margin-right: 0%;
    margin-top: 0%;
    z-index: 901;
}

#outro p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 30px;
    line-height: 1.25;
    width: 70%;
    margin-right: 0%;
    margin-top: 0%;
    z-index: 901;
}

                 /*raises p */
#raise2 p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 40px;
    line-height: 1.25;
    width: 80%;
    margin-right: 0%;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 901;
    
}

#raise3 p {
    color: rgba(251, 255, 0, 0.959);
    font-family:  "GFS Neohellenic", sans-serif;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 30px;
    line-height: 1.25;
    width: 80%;
    margin-right: 0%;
    margin-top: 100px;
    margin-bottom: 80px;
    z-index: 901;
    
}






h3 {
            font-style: italic;
            font-size: 40px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 70%;
        }

#raise4     h3 {
            font-style: italic;
            font-size: 30px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 50%;
            margin-top: 300px;
            margin-bottom: 100px;
        }





#page3-him    h3 {
            font-style: italic;
            font-size: 35px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 70%;
        }


#page4-him    h3 {
            font-style: italic;
            font-size: 25px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 75%;
        }

#raise2   h3 {
            font-style: italic;
            font-size: 40px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 75%;
            text-align: justify;
            text-shadow: 3px 3px 6px rgb(0, 0, 0);
            line-height: 1.25;
            width: 90%;
            margin-left: 70px;
            margin-top: 7%;
            margin-bottom: 5%;
        }

#raise3   h3 {
            font-style: italic;
            font-size: 40px;
            font-weight: 400;
            color:rgb(255, 251, 2);
            width: 75%;
            text-align: justify;
            text-shadow: 3px 3px 6px rgb(0, 0, 0);
            font-size: 30px;
            line-height: 1.25;
            width: 90%;           
            margin-left: 70px;
            margin-top: 40px;
            
        }

#page3-him        i{
            color: rgb(251, 255, 0);

        }

.him, 
.her {
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
 
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.him:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.her:hover h3{
    color: black;
}

.him:hover h3{
    color: yellow;
}

.her:hover {
    background-color: rgba(249, 212, 0, 0.7);
}

footer {
    background-color: rgba(252, 248, 0, 0.893);
    size: 20px;
    position:fixed;
    bottom: 0%;
    width: 100%;
    text-align:start;

}

footer p {
    font-family: "robato flex", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 100;
    margin-left: 600px;

}

.footer:hover {
    cursor: pointer;
    transform: rotate(360deg);
    color: yellow;

}

#page1  {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-night.sky.jpg);
    background-size: cover;
    animation: movestars 100s infinite;
    position: relative;
    overflow: hidden;

}


#raise2 {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-night.sky.jpg);
    background-size: cover;
    animation: movestars 100s  infinite;
    position: relative;
    overflow: hidden;

}

#raise3,
#raise4 {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-night.sky.jpg);
    background-size: cover;
    animation: movestars 100s  infinite;
    position: relative;
    overflow: hidden;

}



@keyframes movestars {
0% {background-position: 0 0;}
100% {background-position: 10000px 0;}

    
}
                           /*Pages*/
    #page2-him .parent,
    #page3-him .parent,
    #page4-him .parent,
    
    #page3-her .parent,
    #page4-her .parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url(images/pexels-francesco-ungaro-998641.jpg);
        background-size: cover;

    }


   

    .tree {
        background-image: url(images/millet-baby-oedipus-removed-tree.webp);
        background-repeat: no-repeat;
        width: 700px;
        height: 700px;
        background-size: contain;
        position: absolute;
        left: 500px;
        bottom: 100px;
        z-index: 900; 
    }

        
        #page2-him .div1,
        #page3-him .div1, 
        #page4-him .div1,
        { 
            grid-area: 1 / 1 / 2 / 2; 
            width: 100%;
            height: 100vh;
            
            background-image: url(images/pexels-night.sky.jpg);
            background-size: cover;
            animation: movestars 100s infinite;
            position: relative;
            overflow: hidden;
            padding:20%;

        
        }


        #page2-him .div1,
        { 
            grid-area: 1 / 1 / 2 / 2; 
            width: 100%;
            height: 100vh;
            
            background-image: url(images/pexels-francesco-ungaro-998641.jpg);

            background-size: cover;
            animation: movestars 100s infinite;
            position: relative;
            overflow: hidden;
            padding:20%;


        }








        #page2-him .div2 { grid-area: 1 / 2 / 2 / 3;
            
            background-image: url(images/caesar-restores-cleopatra-throne_square.avif);
            
            background-size: cover;
            background-position: center;
            margin: 3%;

        }
        i{
            color: rgb(171, 2, 2);

        }

        #page3-him .div2 { grid-area: 1 / 2 / 2 / 3;
            
            background-image: url(images/Joseph_Blanc_Le_meurtre_de_LaiÌˆus.jpeg);
            background-size: cover;
            background-position: center;
            margin: 3%;

            

        }

        

        #page4-him .div2 { grid-area: 1 / 2 / 2 / 3;
            
            background-image: url(images/oedipus-sphinx-francois-emile.webp);
            background-size: cover;
            background-position: center;
            margin: 3%;

        }

        audio{

            margin-bottom: 50px;
            margin-top: 10px;

        }

        audio::-webkit-media-controls-panel {
            background-color: rgb(108, 108, 108);



        }

        #outro {

            background-image: url(images/732325_orig.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
        }
        
        #outro #title {

            padding: 10%;
        }

        #outro p{

            text-shadow: 2px 2px 5px black;
        }

            /*raise2 pages*/


            .parent2 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                height: 100vh;
                width: 100%;
                

                
                }
                
                .div1-raise { grid-area: 1 / 1 / 2 / 2; 
                
                    background-image: url(images/raise.the.baby.png);
                    background-size: relative;
                    background-position: top;
                    margin-bottom: 5%;
                    margin: 5%;
                    
                
                
                }
                .div2-raise { grid-area: 2 / 1 / 3 / 2; 
                
                    background-image: url(images/riddles-sphinx-vi.jpeg);

                    background-size: cover;
                    background-position: center;
                    margin-top: 5%;
                    margin: 5%;
                    padding-bottom: 1%;
                    
                    
                
                }



              
        #raise3 .div1-raise { grid-area: 1 / 1 / 2 / 2; 
            
                background-image: url(images/oracle.jpeg);
                background-size: relative;
                background-position: top;
                margin-bottom: 5%;
                margin: 5%;
                
            
            
            }
        #raise3   .div2-raise { grid-area: 2 / 1 / 3 / 2; 
            
                background-image: url(images/Vincenzo_Camuccini_-_La_morte_di_Cesare-min.jpg);
                background-color: black;
                background-size: cover;
                background-position: center;
                margin-top: 5%;
                margin: 5%;
                padding-bottom: 1%;
                
            
            }


        
        #raise4   .div2-raise { grid-area: 2 / 1 / 3 / 2; 
            
                background-image: url(images/moreau-oedipus-sphinx.webp);
                
                background-size:contain;
                background-position: top;
                margin-top: 5%;
                margin: 1%;
                
                
        
            }